.i-container{
  margin: 0 20px; /*30px*/
   /* padding: 40px; */
   padding:10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-container img {
  height: 200px;
  width: 230px;
  border-radius: 90%; 
  /* background-color: #00e5e3; */
  overflow: hidden;
}

.content{
  /* margin-top: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* white-space: nowrap; */
}
.content h2{
  color: #a060ff;
}
.content p{

  align-items: center;
  justify-content: center;
 
  padding: 0 40px;
  font-size: 16px;
  font-weight: 450;
}
.content p span{
  align-items: center;
  justify-content: center;
  /* color: #05c262; */
  color: #00e5e3;
  font-size: 19px;
  font-weight: 900px;
}
.language-select{
  display: flex;
  justify-content: center;
  align-items: center;
}
select{
 margin-bottom: 95px;
 padding: 6px 22px;
 /* color: #019171; */
 color: #a060ff;
font-weight: 450;
 border-radius: 25px;
 border: 2px solid white;
 background-color: rgb(241, 240, 240);
}
option{
  /* color:#019171; */
  color: #a060ff;
  font-weight: 450 ;
}
.button{
  /* margin-top: 60px; */
  /* padding-left: 1000px; */
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
}
.button1{
   padding: 5px 95px;
   border-radius: 25px;
   /* background-color:#019171; */
   background-color: #a060ff;
   color: white;
   font-weight:490;
   border: 2px solid white;
}
.button1:hover{
  background-color: #00e5e3;
}



/* media queries for different screens */
  
/* CSS for devices with a width between 390px to 440px or a height between 840px to 920px */
@media  (min-width: 390px) and (max-width: 440px),
       (min-height: 840px) and (max-height: 930px) {
        select{
          margin-top: 50px;
          margin-bottom: 90px;
        } 
        .content p{
          font-size: 18px;
        }
        .content p{
          padding-right: 100px;
        }
}
/* CSS for devices with a width between 768px to 1030px or a height between 1020px to 1370px */
@media (min-width: 760px) and (max-width: 1030px),
       (min-height: 1020px) and (max-height: 1370px) {
  .content h2{
    font-size: 40px;
  }
  .content p{
    font-size: 20px;
  }
  .content{
    margin-top: 70px;
  }
}